.layout-container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 56px);
  max-width: 1100px !important;
  margin: 0 auto;
  padding-top: 5rem;
}

.product-grid {
  flex: 1;
  padding: 0 1rem;
  position: relative;
}

#scroll-sentinel {
  height: 1px;
  width: 100%;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .product-grid {
    padding: 0;
  }
}
